@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
  margin: 10px;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

h1 {
  margin: 5px;
}

h4 {
  padding: 3px;
}

p {
  font-size: small;
  text-indent: 5ch;
  padding-bottom: 5px;
}
